.footer {
    background: #0F172A;
    color: white;
    padding-top: 50px;
}

.footer-container {
    width: 90%;
    max-width: 1280px;

    margin: auto;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 60px;
}
.footer-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}
.footer-logo img {
    width: 60px;
    
}
.footer-logo span {
    font-size: 24px;
    font-weight: 700;
}
.footer-brand p {
    color:#CBD5E1;
    line-height:1.8;
}
.footer-links h3,
.footer-contact h3 {
    margin-bottom: 20px;
    font-size: 18px;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.footer-links a {
    color:#CBD5E1;
    transition:0.3s ease;
}
.footer-links a:hover {
    color: white;
}
.footer-contact p {
    color:#CBD5E1;
    margin-bottom:12px;
}
.footer-bottom {
     border-top:1px solid rgba(255,255,255,0.1);
     margin-top:60px;
     padding: 24px 0;
     text-align: center;
     color: #94A3B8;
}