*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

body{

    background:#F1F5F9;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.notice-container{

    width:100%;
    max-width:700px;
}
.notice-icon i{

    font-size:24px;

    color:white;

    display:block;
}
.notice-form{

    background:white;
    padding:40px;
    border-radius:24px;
    box-shadow:0 10px 30px rgba(0,0,0,0.06);
    display:flex;
    flex-direction:column;
    gap:24px;
}

.notice-form h1{

    color:#0F172A;
    margin-bottom:10px;
}

.input-box{

    display:flex;
    flex-direction:column;
    gap:10px;
}

.input-box label{

    font-weight:600;
    color:#334155;
}

.input-box input,
.input-box textarea,
.input-box select{

    padding:16px;
    border:1px solid #CBD5E1;
    border-radius:14px;
    outline:none;
    font-size:15px;
}

textarea{

    resize:none;
    height:140px;
}

button{

    height:56px;
    border:none;
    background:#2563EB;
    color:white;
    border-radius:14px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s ease;
}

button:hover{

    transform:translateY(-3px);
}