.navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;

    background: rgba(255,255,255,0.95);

    border-bottom: 1px solid var(--border);

    position: sticky;
    top: 0;

    backdrop-filter: blur(10px);

    z-index: 1000;
}
.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}
.logo span {
    font-size: 24px;
    font-weight: 700;
    color: #0F172A;
}
.logo img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.nav-links {
    
    display: flex;
    gap: 2.9rem;
}
.nav-links a {
    
    position: relative;

    font-size: 1rem;
    font-weight: 500;

    color: var(--text-gray);
}
.nav-links a:hover {
    color: var(--primary-blue);
}
.login-btn {
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    background: #2563EB;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}
.login-btn:hover {
    background:#1D4ED8;
    transform:translateY(-2px);
}